AlignArrayOfStructures: Left
IndentWidth: 4
ColumnLimit: 120
# AlwaysBreakAfterDefinitionReturnType: All
InsertNewlineAtEOF: true
AlignOperands: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
IncludeBlocks: Merge
AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false