AlignArrayOfStructures: Left
IndentWidth: 4
ColumnLimit: 120
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakAfterDefinitionReturnType: All
InsertNewlineAtEOF: true
AlignOperands: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
IncludeBlocks: Merge
BinPackArguments: false
BinPackParameters: false
